# Run on a specific port
PORT=3000

# Database connection string
DATABASE_URI=mongodb://127.0.0.1/payload-template-ecommerce

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to format links and URLs
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Enable Stripe integration
STRIPE_SECRET_KEY=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_live_51P0lwKP5d2yiQUDAPHM7pyfsGvXIej3FEvKZWWl1U3nzvRv3h9x9MsLSmdMlBsh8r4TYj36Xs4qYFrkQKdbUngeG000of0AxZM
PAYLOAD_PUBLIC_STRIPE_IS_TEST_KEY=true
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51P0lwKP5d2yiQUDAZt2iUknRMFDvK82oNGvmITb05KOTYVtGRnj6gNxlCahBVWdPO4gGrRtnZQDdLfXrF3jjWW010016rvVsNr

# Enable Stripe webhooks (optional)
STRIPE_WEBHOOKS_SIGNING_SECRET=

# Allow robots to index the site (optional)
NEXT_PUBLIC_IS_LIVE=

# Used to preview drafts
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret

# Used to revalidate static pages
REVALIDATION_KEY=demo-revalation-key
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalation-key
