@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  background-color: var(--color-dark-50);
  min-height: 360px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;

  &:hover {
    background-size: 105%;
  }
}

.title {
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.26);
}