@use '../../../_css/queries.scss' as *;


.header { 
    padding: 5px 0; 
    margin-bottom: 3px;
    position: relative; 
    width: 100%; 
    border: 1px solid black;
    // background-image: url("/home_site_1.png"); 
    // background-size: cover; 
    // background-position: center; 
    // min-height: 100vh; 
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(var(--base) / 2) var(--base);
}

.logo {
    width: 170px;
}

.nav {
    text-decoration: none;
    font-family: var(--font-titillium);
    color: black;
    font-size: 0.9rem;
}

.nav:hover {
    color: rgb(70, 67, 67);
}

.navItems {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
    
    @media screen and (max-width: 1200px) {
        display: none;
    } 
}
