@use '../../_css/queries.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  // gap: 50px;
  width: 100%;
}

.comprePor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  h3 {
    font-weight: 400;
  }
}

.list {
  display: grid;
  gap: 10px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);


  @include small-break {
    grid-template-columns: 1fr;
  }
}